.container {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.grey {
  background-color: grey;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.list {
  display: flex;
}
.todoText {
  margin-right: 20px;
}
